<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollama Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header></header>
    <main>
        <div id="side-bar">
            <div id="model-list">
                <div class="model-dropdown" id="chat-model">
                    <label for="chat-model-select">Chat Model</label>
                    <select name="chat-model-select" id="chat-model-select" class="model-dropdown-menu">
                        <option value="">No Model Found. Pull from Ollama first.</option>
                    </select>
                </div>
                <div class="model-dropdown" id="embed-model">
                    <label for="embed-model-select">Embedding Model</label>
                    <select name="embed-model-select" id="embed-model-select" class="model-dropdown-menu">
                        <option value="">No Model Found.</option>
                    </select>
                </div>
                <div class="model-dropdown" id="vision-model">
                    <label for="vision-model-select">Vision Model</label>
                    <select name="vision-model-select" id="vision-model-select" class="model-dropdown-menu">
                        <option value="">No Model Found.</option>
                    </select>
                </div>
            </div>
            <div id="general-settings">
                <div id="pull-model"></div>
                <div id="modelfile"></div>
                <div id="misc-settings"></div>
            </div>
        </div>
        <div id="main-frame">
            <div id="chat-window"></div>
            <div id="user-input">
                <div id="user-input-padding"><input type="text" name="user-input-field" id="user-input-field"></div>
                <div id="send-button-frame"><button type="button" id="send-button">Send</button></div>
                <div id="upload-button-frame"><button type="button" id="upload-button">Upload File</button></div>
                <div id="clear-button-frame"><button type="button" id="clear-button">Clear</button></div>
                <div id="unload-button-frame"><button type="button" id="unload-button">Unload File</button></div>
            </div>
        </div>
    </main>
    <footer><p>Author: kikoferrer</p></footer>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>